body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 12000px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 90px;
  }

  h1 {
    color: #333;
    text-align: center;
  }

  .course-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .course-item {
    position: relative;
    display: block;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
  }

  .course-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .course-item h2 {
    position: absolute;
    margin-top: 70px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 35px;
  }

  .course-item p {
    position: absolute;
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 120px;
  }

  .course-item:hover::after {
    content: 'Xem khóa học';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}